{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="message-content__main">
                <div class="message-user__name">
                    <label>Jo'natuvchi nomi:</label>
                    <h2><p>{{message.user}}</p></h2>
                </div>
                <div class="message-title">
                    <label>Jo'natuvchi nomi: </label>
                    <h2>{{message.title}}</h2>
                </div>
                <div class="message-main">
                    <label>Xabar mazmuni:</label>
                    <p>{{message.text}}</p>
                </div>

                
                {% for video in videos %}
<!--                 <a data-fancybox href="#myVideo">

                </a>

    <video width="640" height="320" controls id="myVideo" style="display:none;">
    <source src="{{video.file.url}}" type="video/mp4">
    <source src="{{video.file.url}}" type="video/webm">
    <source src="{{video.file.url}}" type="video/ogg">
        <source src="{{video.file.url}}" type="video/MKV">
    </video>
                --><a data-fancybox="gallery" href="{{video.file.url}}"> <video src="{{video.file.url}}" width="200" height="200"></video></a>
                {% endfor %}<br>
                {% for image in images %}
                <a data-fancybox="gallery" href="{{image.file.url}}"><img src="{{image.file.url}}" width="200" height="200" ></img></a>
                {% endfor %}
                    
            </div>
            <form action="{% url 'MessageDetail' pk=message.pk %}" method="post">
{%  csrf_token %}
   {% if not message.is_read %}<input type="checkbox" name="is_read" value="True">Na  rassmotrenii<br>{% endif %}
  {% if not message.is_solved %}<input type="checkbox" name="is_solved" value="True">Resheno<br>{% endif%}
  <input type="submit" value="Save">

</form>


        </div>
        <div class="col-lg-5">
            <div class="message-map__main">
                <script src="https://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
                <script type="text/javascript">
                    ymaps.ready(init);
                    var myMap, 
                        myPlacemark;

                    function init(){ 
                        myMap = new ymaps.Map("map", {
                            center: [{{message.altitude }}, {{message.longitude}}],
                            zoom: 12
                    });

                    myPlacemark = new ymaps.Placemark([{{message.altitude }}, {{message.longitude}}], { 
                        });
                        
                        myMap.geoObjects.add(myPlacemark);
                    }
                </script>
                <div id="map" style="width: 100%; height: 400px"></div>        
            </div>
        </div>
        
    </div>

    
{#    <div class="row">#}
{#        <div class="col-lg-12">#}
{#            #}
{#            <div class="panel panel-default">#}
{#              #}
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
{#                        <div class="table-responsive">#}
{#                          <table id="second-morris-table" class="table table-bordered table-hover table-striped">#}
{#                            <thead>#}
{#                              <tr>#}
{#                                <th>#</th>#}
{#                                <th>Date</th>#}
{#                                <th>Time</th>#}
{#                                <th>Amount</th>#}
{#                              </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                              <tr>#}
{#                                <td>3326</td>#}
{#                                <td>10/21/2013</td>#}
{#                                <td>3:29 PM</td>#}
{#                                <td>$321.33</td>#}
{#                              </tr>#}
{#                              <tr>#}
{#                                <td>3325</td>#}
{#                                <td>10/21/2013</td>#}
{#                                <td>3:20 PM</td>#}
{#                                <td>$234.34</td>#}
{#                              </tr>#}
{#                              <tr>#}
{#                                <td>3324</td>#}
{#                                <td>10/21/2013</td>#}
{#                                <td>3:03 PM</td>#}
{#                                <td>$724.17</td>#}
{#                              </tr>#}
{#                              <tr>#}
{#                                <td>3323</td>#}
{#                                <td>10/21/2013</td>#}
{#                                <td>3:00 PM</td>#}
{#                                <td>$23.71</td>#}
{#                              </tr>#}
{#                              <tr>#}
{#                                <td>3322</td>#}
{#                                <td>10/21/2013</td>#}
{#                                <td>2:49 PM</td>#}
{#                                <td>$8345.23</td>#}
{#                              </tr>#}
{#                              <tr>#}
{#                                <td>3321</td>#}
{#                                <td>10/21/2013</td>#}
{#                                <td>2:23 PM</td>#}
{#                                <td>$245.12</td>#}
{#                              </tr>#}
{#                              <tr>#}
{#                                <td>3320</td>#}
{#                                <td>10/21/2013</td>#}
{#                                <td>2:15 PM</td>#}
{#                                <td>$5663.54</td>#}
{#                              </tr>#}
{#                              <tr>#}
{#                                <td>3319</td>#}
{#                                <td>10/21/2013</td>#}
{#                                <td>2:13 PM</td>#}
{#                                <td>$943.45</td>#}
{#                              </tr>#}
{#                            </tbody>#}
{#                          </table>#}
{#                          #}
{#                        </div>#}
{#                   #}
{#                    </div>#}
{#               #}
{#                </div>#}
{#           #}
{##}
{#              #}
{#              #}
{#            </div>#}
{#            #}
{#            #}
{#        </div>#}
{#    #}
{#        <div class="col-lg-4">#}
{#        <div class="panel panel-default">#}
{#          <div class="panel-heading">jll;p;#}
{#          </div>#}
{#      </div>#}
{#  </div>#}
{#    </div>#}
    <!-- /.row -->
</div>


{% endblock %}