{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
          <div class="page-header page-header__userlist">
              <h1>User list</h1>
              <div class="searchbar">
                <form action="{% url "MessageList" %}" method="get">
                      <input type="text" id="searchbar-input" placeholder="fdlk" name="query">
                      <i class="fa fa-search" id="searchbar-icon" aria-hidden="true"></i>
                      <i class="fa fa-times" id="searchbar-cross" aria-hidden="true"></i>
                </form>
              </div>
          </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            
            <div class="panel panel-default">
              
                <div class="row">
                    <div class="col-lg-12">
                    {%  if view.is_query %}Results for {{ view.is_query}}{% endif %}

                        <div class="table-responsive">
                          <table id="second-morris-table" class="table table-bordered table-hover table-striped">
                            <thead>
                              <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for message in messages %}
        {% if not message.is_read %}

        <tr>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}"><font size="3" color="blue" class="rowlink">{{message}}</font></a></td>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}"><font size="3" color="blue">{{message.user}}</font></a></td>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}"><font size="3" color="blue">{{message.created}}</font></a></td>
        </tr>

        {%else %}
        <tr >
         
          <td><a href="{% url 'MessageDetail' pk=message.pk %}" class="rowlink">{{message}}</a></td>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}">{{message.user}}</a></td>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}">{{message.created}}</a></td>
        
        </tr>
        {%endif%}
        {% endfor %}
                            </tbody>
                          </table>
 {% include "pagination.html" with page=profiles %}                         
                        </div>

                    <!-- /.table-responsive -->
                    </div>
                <!-- /.col-lg-12 -->
                </div>
                
                <!-- /.row -->

              
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            
        </div>
      <!-- /.col-lg-12 -->
      
    </div>
    <!-- /.row -->
</div>

{%endblock%}














<!-- <!DOCTYPE html>
<html lang="en">
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 1000px;
    width: 20%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    float: left;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.container .table table-striped{
  width:100px;
}
.right{
  float: left;
  width: 70%;
}
.main{
  overflow: hidden;
}
</style>

<body>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<div class="main">
  <div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

 <div class="search-container">
    <form action="{% url "MessageList" %}" method="get">

        
        <input type="text" name="query">
       <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div> 
  <div class="container right">        
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Сообщения</th>  
          <th>Автор</th>
          <th>Дата</th>
        </tr>
      </thead>
      <tbody>
        {% for message in messages %}
        {% if not message.is_read %}

        <tr>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}"><font size="3" color="blue">{{message}}</font></a></td>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}"><font size="3" color="blue">{{message.user}}</font></a></td>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}"><font size="3" color="blue">{{message.created}}</font></a></td>  
        </tr>

        {%else %}
        <tr>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}">{{message}}</a></td>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}">{{message.user}}</a></td>
          <td><a href="{% url 'MessageDetail' pk=message.pk %}">{{message.created}}</a></td>
        </tr>
        {%endif%}
        {% endfor %}
       
      </tbody>
    </table>

{% include "pagination.html" with page=messages %}
  </div>
</div>

</body>
</html> -->
