{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
       <div class="col-lg-12">
          <div class="page-header page-header__userlist">
              <h1>User list</h1>
              <div class="searchbar">
                <form action="{% url "MessageList" %}" method="get">
                      <input type="text" id="searchbar-input" placeholder="fdlk" name="query">
                      <i class="fa fa-search" id="searchbar-icon" aria-hidden="true"></i>
                      <i class="fa fa-times" id="searchbar-cross" aria-hidden="true"></i>
                </form>
              </div>
          </div>
      </div>

      <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">

    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-12">
{%  if view.is_query %}Results for {{ view.is_query}}{% endif %}
            <div class="panel panel-default">
              
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                          <table id="second-morris-table" class="table table-bordered table-hover table-striped">
                            <thead>
                              <tr>
                                <th>Username</th>
                                <th>Password</th>
                        
                              </tr>
                            </thead>
                            <tbody>
                              {% for profile in profiles %}
            

            <tr>
              <td><a href="{% url 'UserDetail' profile.pk%}">{{profile.user.username}}</a></td>
              
              <td>{{profile.phone_number}}</td>
            </tr>
            {% endfor %}
                            </tbody>
                          </table>
 {% include "pagination.html" with page=profiles %}                         
                        </div>

                    <!-- /.table-responsive -->
                    </div>
                <!-- /.col-lg-12 -->
                </div>
                
                <!-- /.row -->

              
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            
        </div>
      <!-- /.col-lg-12 -->
      
    </div>
    <!-- /.row -->

</div>

 -->
{%endblock%}
