{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
       

{#  <p>{{user.first_name}}</p>#}
{#<p>{{user.last_name}}</p>#}
{#<p>{{user.phone_number}}</p>#}
<h2>{{user.user}}</h2>
    <ul class="list-group list-group-flush">

{% for message in messages %}
<li class="list-group-item"><a href="{% url 'MessageDetail' pk=message.pk %}">{{message.title}}</a></li>


 {% endfor %}

</ul>
</div>
 </div>


{% endblock %}