{% load static %}
{% load messages %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7/css/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/416491/timeline.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script src="{% static 'js/ru.js' %}" type="text/javascript"></script>
    <script>
        tinymce.init({
        selector: '#text',
              language: 'ru',
        plugins: [
            'advlist autolink lists link image charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code help wordcount'
        ],
        toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css']
    })
  </script>
</head>

<body>

<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="logo navbar-brand" href="{% url 'index' %}">
          <img width=40 height=40 src="{% static 'footer_logo.png' %}" alt="">
          Министерство по чрезвычайным ситуациям Республики Узбекистан
      </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
{#      <li class="dropdown">#}
{#        <a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
{#          <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>#}
{#        </a>#}
{#        <ul class="dropdown-menu dropdown-messages">#}
{##}
{#          {% for message in messages1 %}#}
{#          <li class="divider"></li>#}
{#          <li>#}
{#            <a href="{% url 'MessageDetail' pk=message.pk %}">#}
{#              <div>#}
{#                <strong>{{message.user}}</strong>#}
{#                <span class="pull-right text-muted">#}
{#                                        <em>{{message.created}}</em>#}
{#                                    </span>#}
{#              </div>#}
{#              <div>{{message.text|truncatechars:100}}</div>#}
{#            </a>#}
{#          </li>#}
{#          {% endfor %}#}
{##}
{#          <li class="divider"></li>#}
{#          <li>#}
{#            <a class="text-center" href="">#}
{#              <strong>Read All Messages</strong>#}
{#              <i class="fa fa-angle-right"></i>#}
{#            </a>#}
{#          </li>#}
{#        </ul>#}
{#        <!-- /.dropdown-messages -->#}
{#      </li>#}
{#      <!-- /.dropdown -->#}
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i>Выйти</a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="side-navbar__main navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">


        {%block dateNav %}

        {% endblock %}

        <ul class="nav" id="side-menu">
{#          <li class="sidebar-search">#}
{#            <div class="input-group custom-search-form">#}
{#              <input type="text" class="form-control" placeholder="Поиск...">#}
{#                <span class="input-group-btn">#}
{#                    <button class="btn btn-default" type="button">#}
{#                        <i class="fa fa-search"></i>#}
{#                    </button>#}
{#                </span>#}
{#            </div>#}
{#            <!-- /input-group -->#}
{#          </li>#}

          <li>
            <a href="{% url 'user_list' %}"><i class="fa fa-users fa-fw"></i>Пользователи</a>
          </li>
          <li><a href="{% url 'message_list' %}"><i class="fa fa-edit fa-fw"></i> Сообщения <span class="badge badge-danger">{% unread_message_counter %}</span></a>
          </li>
          <li>
             <a href="{% url 'HelpList' %}"><i class="fa fa-wrench fa-fw"></i>Справочник</a>
          </li>
           <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Статистика<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a href="{% url 'Tashkent' %}">Статистика по городу Ташкент</a>
              </li>
              <li>
                <a href="{% url 'date_stats' %}">Статистика по времени</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

{%block content %}
    <div id="page-wrapper">
        <div class="row">
        </div>
    </div>
{% endblock %}

</div>
<!-- /#wrapper -->



<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/metisMenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/raphael.js' %}"></script>
<script type="text/javascript" src="{% static 'js/morris.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sb-admin-2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/timeline.js' %}"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script> <!-- Resource jQuery -->
<script>
    function bs_input_file() {
        $(".input-file").before(
            function() {
                if ( ! $(this).prev().hasClass('input-ghost') ) {
                    var element = $("<input id='imgInp' type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name",$(this).attr("name"));
                    element.change(function(){
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    $(this).find("button.btn-choose").click(function(){
                        element.click();
                    });
                    $(this).find("button.btn-reset").click(function(){
                        element.val(null);
                        $(this).parents(".input-file").find('input').val('');
                    });
                    $(this).find('input').css("cursor","pointer");
                    $(this).find('input').mousedown(function() {
                        $(this).parents('.input-file').prev().click();
                        return false;
                    });
                    return element;
                }
            }
        );
    }
    $(function() {
        bs_input_file();
    });

    function readURL(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
    $('body').on('change', '#imgInp', function() {
        readURL(this);
    });

</script>
</body>
</html>
