{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
       <div class="col-lg-12">
          <div class="page-header page-header__userlist">
              <h1>Справочник</h1>
          </div>
       </div>
    </div>

    <div class="row">
            {% if info.image %} <img src="{{ info.image.url }}">{%  endif %}<br>
            {{ info.content|safe }}<br><br>
            <a class="my-button-link" href="{% url 'help_list_edit' id=info.id %} ">EDIT</a>
            <form action="{% url 'HelpList' %}" method="post">
                <input type="hidden" name="DELETE" value="{{ info.pk }}">
                <input type="submit" value="DELETE" >
                {% csrf_token %}
            </form>
    </div>

</div>
{%endblock%}
