{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
       <div class="col-lg-12">
          <div class="page-header page-header__userlist">
              <h1>Добавить справочник </h1>

          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="addspr">
                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                        <div class="form-label" style="text-align: right">
                            <label for="title">Заголовок</label>
                        </div>
                        <div class="form-input">
                            <input class="title-input form-control" type="text" name="title" id="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label" style="text-align: right">
                            <label for="title">Содержание</label>
                        </div>
                        <div class="form-input">
                            <input id="text" class="form-control" type="text" name="content" >
                        </div>
                    </div>

                    <div class="form-group upload-image">
                        <div class="form-label" style="text-align: right;">
                            <label for="title">Картинка</label>
                        </div>
                        <div class="form-input">

                            <div class="input-group input-file" name="image">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-choose" type="button">Загрузить</button>
                                </span>
                                <input type="text" class="form-control" placeholder='Загрузить...' />
                                <span class="input-group-btn">
                                     <button class="btn btn-warning btn-reset" type="button">Сброс</button>
                                </span>
                            </div>
                            <div class="image-view">
                                <img id="blah" src="http://placehold.it/360x240" alt="your image" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group save-form">
                        <div class="form-label" style="text-align: right">
                            <label for="title" style="opacity: 0">Title</label>
                        </div>
                        <div class="form-input">
                            <input class="save-button" type="submit" value="Cохранить">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{%endblock%}
