{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
       <div class="col-lg-12">
          <div class="page-header page-header__userlist">
              <h1>Изменить справочник </h1>

          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="addspr">
                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                        <div class="form-label" style="text-align: right">
                            <label for="title">Заголовок</label>
                        </div>
                        <div class="form-input">
                            <input class="title-input form-control" type="text" name="title" id="title" value="{{ info_form.title.initial }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label" style="text-align: right">
                            <label for="title">Содержание</label>
                        </div>
                        <div class="form-input">
                            <input id="text" class="form-control" type="text" name="content" value="{{ info_form.content.initial }}" >
                        </div>
                    </div>

                    <div class="form-group upload-image">
                        <div class="form-label" style="text-align: right;">
                            <label for="title">Картинка</label>
                        </div>
                        <div class="form-input">
                            На данный момент: <a href="{{ info_form.image.value.url }}" target="_blank">{{ info_form.image.value }}</a>
                            <input type="checkbox" name="image-clear" id="image-clear_id">
                            <label for="image-clear_id">Очистить</label>
                            <div class="input-group input-file" name="image">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-choose" type="button">Изменить</button>
                                </span>
                                <input type="text" class="form-control" placeholder='Загрузить...' />
                                <span class="input-group-btn">
                                     <button class="btn btn-warning btn-reset" type="button">Сброс</button>
                                </span>
                            </div>
                            <div class="image-view">
                                <img id="blah" src="{{ info_form.image.value.url }}" alt="your image" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group save-form">
                        <div class="form-label" style="text-align: right">
                            <label for="title" style="opacity: 0">Title</label>
                        </div>
                        <div class="form-input">
                            <input class="save-button" type="submit" value="Cохранить">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{%endblock%}
