{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
       <div class="col-lg-12">
           <div class="add">
                 <div class="page-header page-header__userlist">
                      <h1>Справочник</h1>
                      <a class="my-button-link" href="{% url 'help_list_add' %} ">Добавить</a>
                 </div>
           </div>
           <div class="helplist-main">
               <div class="row">
                   {% for info in infos %}
                        <div class="col-md-6">
                           <div class="helplist-item">
                               <div class="helplist-item__image">
                                   {% if info.image %}
                                       {% thumbnail info.image "180x180" crop="center" as im %}
                                           <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                       {% endthumbnail %}
                                   {% else %}
                                       <img src="{% static 'images/no-photo.png' %}" alt="">
                                   {% endif %}
                               </div>
                               <div class="helplist-item__content">
                                   <h2>{{ info.title }}</h2>
                                   <p>{{ info.content|safe|truncatechars:100 }}</p>
                                   <div class="del-update">
                                       <span class="helplist-date">{{ info.last_modified|date:"d.m.Y" }}</span>
                                       <a class="my-button-link" href="{% url 'help_list_edit' info.id %}">Изменить</a>
                                       <a class="my-button-link" href="{% url 'helplist_delete' info.id %}">Удалить</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   {% endfor %}
               </div>
           </div>
      </div>
    </div>
</div>
{% include "pagination.html" %}
{%endblock%}
