{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/inputmask.css' %}">
{#	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">#}
    <style>

    </style>
</head>
<body>
	<div class="wrapper">
		<div class="ui main-login__page middle aligned center aligned grid">
		  <div class="column">
		    <h2 class="ui image header">
		      <div class="content">
		        Log-in to your account
		      </div>
		    </h2>
		    <form method="post" class="ui large form"> {% csrf_token %}
		      <div class="ui stacked secondary  segment">
		        <div class="field">
		          <div class="ui left icon input">
		            <i class="user icon"></i>
		            <input type="text" name="username" placeholder="Username">
		          </div>
		        </div>
		        <div class="field">
		          <div class="ui left icon input">
		            <i class="lock icon"></i>
		            <input type="password" name="password" placeholder="Password">
		          </div>
		        </div>
		        <input class="ui fluid large teal submit button" type="submit" value="Вход">
		      </div>
		    </form>
              {% if error == "error" %}
                    <div class="ui error message">логин или пароль неверны</div>
              {% endif %}
		  </div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/semantic.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.inputmask.js' %}"></script>
</body>
</html>