{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Сообщение #{{ message.id }}</h1>
        </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="message-content__main">
                <div class="message-user__name">
                    <label>Отправитель:</label>
                    <h2><p>{{ message.user.username }}</p></h2>
                </div>
                <div class="message-title">
                    <label>Заголовок: </label>
                    <h2>{{ message.title }}</h2>
                </div>
                <div class="message-main">
                    <label>Содержание:</label>
                    <p>{{message.text}}</p>
                </div>
                {% for file in message.files.all %}
                    <a data-fancybox="gallery" href="{{ file.file.url }}"><img src="{{ file.file.url }}" width="200" height="200" ></a>
                {% endfor %}
            </div>
            <form method="post">{%  csrf_token %}
                {% if not message.is_read %}
                    <input type="checkbox" name="is_read" value="True">На рассмотрении<br>
                {% endif %}
                {% if not message.is_solved %}
                    <input type="checkbox" name="is_solved" value="True">Решено<br>
                {% endif%}
                <input type="submit" value="Сохранить">
            </form>


        </div>
        <div class="col-lg-5">
            <div class="message-map__main">
                <script src="https://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
                <script type="text/javascript">
                    ymaps.ready(init);
                    var myMap,
                        myPlacemark;

                    function init(){
                        myMap = new ymaps.Map("map", {
                            center: [{{message.altitude }}, {{message.longitude}}],
                            zoom: 12
                    });

                    myPlacemark = new ymaps.Placemark([{{message.altitude }}, {{message.longitude}}], {
                        });

                        myMap.geoObjects.add(myPlacemark);
                    }
                </script>
                <div id="map" style="width: 100%; height: 400px"></div>
            </div>
        </div>

    </div>

</div>


{% endblock %}