<div class="pagination">
<span class="step-links">

{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}{% if request.GET.query %}&query={{request.GET.query}}{% endif %}">Назад</a>
{% endif %}
{% for i in paginator.page_range %}


{% if forloop.counter == page_obj.number %}
<span class="current">
{%if paginator.num_pages != 1 %}{{ page_obj.number }}{%endif%}
</span>

{{ break }}

{% else %}
<a id =0 href="?page={{forloop.counter}}{% if request.GET.query %}&query={{request.GET.query}}{% endif %}">{{forloop.counter}}</a>
{% endif %}
{%endfor%}



{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}{% if request.GET.query %}&query={{request.GET.query}}{% endif %}">Вперед</Сa>
{% endif %}
</span>
</div>

<style>
    
    .pagination
    {

        alignment-baseline: central;
    }
</style>