{% extends "base.html" %} {% block content %}
<div id="page-wrapper">
    <div class="row">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: 100%; height: 500px; position: relative; overflow: hidden;" viewBox="0 0 551.38 571.47">
            <defs>
                <style>
                    .cls-1 {
                        fill: #94c11e;
                    }
                </style>
            </defs>

            <g id="Layer_2" data-name="Layer 2">
                < id="Layer_1-2" data-name="Layer 1">
                <polygon class="cls-1" points="230.5 330.47 254.46 322.48 254.46 322.48 230.5 330.47" ></polygon>
                <polygon id="almazarskiy" class="cls-1" points="161.13 10.62 154.4 15.67 137.95 29.04 130.57 28.12 127.8 37.35 108.43 52.65 84.41 73.67 59.56 92.55 44.92 111.09 43.23 122.07 58.3 122.96 64.3 120.98 86.6 117.94 105.14 123.11 123.42 131.72 119.31 141.97 168.37 179.48 175.78 172.07 182.03 171.03 192.66 165.71 200.18 171.36 215.41 150.43 220.31 146.5 227.74 131.64 231.02 132.73 235.46 127.55 227.42 119.51 240.49 105.43 223.41 85.5 198.34 61.42 180.25 39.3 161.13 10.62" > <title>{{ Olmazor.district }}: {{ Olmazor.quantity }}</title></polygon>
                <polygon id="yunusobod" class="cls-1" points="182.71 37.58 200.6 59.45 225.64 83.5 244.51 105.51 231.58 119.43 239.54 127.39 233.64 134.28 255.25 151.96 252.76 159.43 250.07 161.22 251.09 172.45 246.13 174.43 247.05 181.76 239.92 195 237.94 203.9 234.75 214.52 231.01 216.39 237.45 216.88 237.55 216.57 238.8 216.99 240.53 217.12 240.4 217.52 244.57 218.91 258.31 215.74 260.43 219.97 262.35 219.97 264.23 219.97 264.92 215.86 261.69 211.56 266.89 202.9 268.05 206.38 274.85 197.88 282.51 198.84 288.19 183.71 293.09 177.82 294.12 171.6 303.58 164.98 300.6 159.02 309.6 152.27 312.47 150.35 317.57 143.99 323.85 152.78 327.62 164.1 333 164.77 333 158.66 330.88 150.17 338.11 139.84 339.11 135.83 344.43 128.4 351 123.7 351 114.97 363.12 114.97 382.97 104.14 348.21 71.31 334.46 33.03 277.58 35.97 269 35.97 224.96 2.94 175.94 0 163.55 8.85 182.71 37.58" > <title>{{ Yunusobod.district}}:{{ Yunusobod.quantity }}</title></polygon>
                <polygon id="shayxataxurskiy" class="cls-1" points="41.99 151.75 33.97 174.8 32.5 188.76 45.87 172.89 99.14 179.15 97 200.53 97.98 235.62 109.92 242.97 133.44 242.97 145.91 242.01 152.4 236.6 152.4 236.6 152.4 236.6 161.95 242.97 167.72 242.97 183.08 220.89 184.25 213.87 198.59 214.97 222.45 215.86 224.59 215.94 224.61 215.9 225.2 215.94 232.25 212.42 235.05 203.09 237.08 193.94 243.95 181.18 242.87 172.51 247.91 170.49 246.93 159.72 250.24 157.51 251.75 152.98 230.76 135.81 229.26 135.31 222.69 148.44 217.59 152.52 200.82 175.58 192.34 169.23 182.97 173.91 177.22 174.87 168.63 183.46 115.69 142.97 119.58 133.23 103.98 125.88 86.4 121 64.84 123.94 58.7 125.98 42.94 125.06 41.99 151.75" ><title>{{ Shayxontohur.district}}:{{ Shayxontohur.quantity }}</title></polygon>
                <polygon id="uchtepa" class="cls-1" points="40.1 325.97 47.78 325.97 52.09 320.59 56.56 322.83 97.51 306.25 102.62 298.58 97.02 292.05 95.03 237.33 95.02 237.32 95 236.53 94.9 233.72 94.92 233.74 94 200.42 95.86 181.79 47.13 176.06 28.5 198.18 30.83 175.97 27.79 175.97 23.79 177.57 22.05 185.39 23 188.23 23 194.64 18.53 195.76 10.04 212.75 10.91 220.61 14.08 222.72 12.93 234.28 5 240.22 5 247.32 0 250.32 0 297.56 8.11 288.55 10.07 294.44 8 301.68 8 326.35 10.64 343.07 40.1 325.97" ><title>{{ Uchtepa.district}}:{{ Uchtepa.quantity }}</title> </polygon>
                <polygon id="bektemir" class="cls-1" points="49.46 407.75 55.99 425.32 57.74 442.84 58.48 442.35 71.3 426.57 87.41 403.41 87.61 403.26 102.61 392.26 123.56 375.31 124.35 374.64 124.35 374.64 136.62 364.42 133.89 357.47 141.08 338.99 143.31 331.18 148.35 330.17 155.22 309.58 171.49 296.36 174.94 292.91 173.93 281.72 180 277.67 180 265.9 188.34 256.52 191.54 252.32 197.73 247.19 202.65 244.23 211.22 237.56 214.21 228.6 221.29 222.53 223.12 218.88 198.44 217.97 198.41 217.97 198.38 217.97 186.75 217.07 185.92 222.05 169.28 245.97 161.05 245.97 152.6 240.34 147.09 244.93 133.5 245.97 109.08 245.97 98.1 239.22 99.98 290.89 106.38 298.36 99.49 308.69 56.44 326.12 52.91 324.35 49.22 328.97 40.9 328.97 12.11 345.69 28.46 359.32 39.86 369.68 45.04 392.49 42.09 404.3 44.33 408.77 49.46 407.75" ><title>{{ Bektemir.district}}:{{ Bektemir.quantity }}</title></polygon>
                <polygon id="yakkasarayskiy" class="cls-1" points="141.69 360.2 174.91 339.07 175.16 339.01 227.07 327.03 227.31 326.94 228.2 326.61 227.9 325.12 245.65 300.47 236.04 287.01 234.96 275.15 234.96 275.15 234.96 275.15 244.78 257.48 236.39 242.55 230.82 239.21 232.08 233 236.47 219.82 226.39 219.04 223.71 224.41 216.79 230.34 213.78 239.38 204.27 246.76 199.37 249.7 193.59 254.51 190.62 258.47 183 267.04 183 279.27 177.07 283.22 178.06 294.04 173.45 298.63 157.78 311.36 150.65 332.77 145.69 333.76 143.9 340.01 137.11 357.47 139.04 362.4 141.69 360.2" ><title>{{ Yakkasaroy.district}}:{{ Yakkasaroy.quantity }}</title></polygon>
                <polygon id="mirabad" class="cls-1" points="322.46 413.29 322.64 413.21 333.93 401.92 346.63 402.98 353.33 403.93 360.84 401.12 349.15 377.13 318.19 307.21 311 296.94 311 287.9 290.27 254.34 264.79 222.97 263.73 222.97 258.57 222.97 256.69 219.2 244.43 222.03 239.45 220.37 234.95 233.86 234.18 237.73 238.61 240.39 248.22 257.47 238.04 275.8 238.96 285.93 249.35 300.47 231.1 325.82 231.64 328.51 253.91 321.09 269.71 312.66 296.31 336.18 307.26 340.74 318.01 332.14 324.42 344.95 307 357.25 307 387.07 322.07 413.45 322.46 413.29" ><title>{{ Mirobod.district}}:{{ Mirobod.quantity }}</title></polygon>
                <polygon id="Sergili" class="cls-1" points="193.34 544.5 201.43 537.42 212.17 524.72 216.23 512.53 247.58 490.28 260.21 479.6 264.94 465.41 263.88 461.18 270.43 451.71 262.21 452.88 247.5 467.59 237.78 457.88 238.82 454.76 229.09 442.38 194.3 460.81 188.2 415.07 174.92 416.02 169.69 410.78 169 410.55 169 415.4 165.16 417.32 166.13 423.15 158.71 428.45 155.61 435.68 150.72 437.31 134.76 404.31 146.73 387.99 199.47 386.97 248.52 384.97 248.59 384.97 304.37 388.51 304 387.87 304 355.69 320.58 343.99 316.99 336.8 307.74 344.2 294.69 338.76 294.51 338.59 269.29 316.29 254.97 323.89 229.36 332.43 228.79 329.59 227.84 329.93 176.09 341.87 143.39 362.69 139.35 366.04 139.35 366.05 125.46 377.62 104.44 394.64 89.59 405.53 73.66 428.42 61.33 443.6 63.17 446.67 68.91 444.75 79.39 455.24 76.27 460.43 80.12 466.2 82.06 461.02 83.86 453.83 79.63 448.54 89.6 434.13 98.8 432.09 116.39 416.7 121.11 436.78 113.93 447.04 112.93 454.1 95 476.01 95 478 91.36 482.55 93.9 486.37 109.68 475.53 115 480.85 115 487.09 114 488.09 114 492.23 115 495.23 115 502.09 107.12 509.97 100.92 509.97 83.61 520.55 78.11 529.97 100.8 529.97 105.78 523.99 178.36 521.89 172.96 529.98 171.96 542.08 160.68 555.23 175.21 566.13 175.79 566.32 184.35 559.47 193.34 544.5" ><title>{{ Sergili.district}}:{{ Sergili.quantity }}</title></polygon>
                <polygon id="chilanzar" class="cls-1" points="225.97 532.58 222.25 519.3 234.19 511.7 253 499.82 264.19 486.61 280.87 483.07 304.79 465.13 324.56 458.21 341.18 435.36 347 439.72 347 448.67 350.34 446.44 354.36 438.49 360.86 430.92 374.26 431.95 386.2 426.97 390.78 426.97 398.33 417.53 410.52 400.33 418.58 393.43 422.8 397.65 428.61 394.74 431.2 396.47 444.2 380.47 449 383.67 449 388.97 464.17 388.97 472.68 398.43 488.24 386.33 463.33 361.42 487.05 339.76 487.87 329.09 460.79 331.02 457.07 326.06 455.37 314.19 441 324.97 435.32 324.97 399.49 380.71 377.49 388.71 370.54 399.63 362.16 403.82 362.15 403.81 362.03 403.88 353.67 407.01 346.29 405.96 335.07 405.02 324.36 415.73 320.8 417.27 320.8 417.27 294.36 428.73 281.64 441.46 275.72 449.35 267.12 461.77 268.06 465.53 262.79 481.34 249.37 492.69 218.77 514.41 214.83 526.22 203.49 539.6 195.66 546.44 186.65 561.47 177.72 568.61 222.5 571.47 221.01 571.28 225.97 532.58" ><title>{{ Chilonzor.district}}:{{ Chilonzor.quantity }}</title></polygon>
                <polygon id="yashnabad" class="cls-1" points="363.52 399.78 368.46 397.31 375.51 386.24 397.51 378.23 430.64 326.7 424.13 322.36 416.85 278.68 434.46 268.77 437 270.04 437 263.91 429.59 252.26 435 246.85 435 244.2 429.71 244.96 422.88 246.09 418 240 418 238.97 417.05 240.24 409.69 237.78 403.81 231.9 393.06 230.71 398 222.07 398 216.16 387.48 222.63 378.54 232.69 357.82 210.93 343.11 209.95 323.11 200.42 307.44 227.84 293.37 230.01 272.26 222.97 268.65 222.97 292.78 252.68 314 287.05 314 296 320.87 305.86 351.87 375.86 363.52 399.78" ><title>{{ Yashnobod.district}}:{{ Yashnobod.quantity }}</title></polygon>
                <polygon id="ulugbek" class="cls-1" points="515.12 152.43 551.38 132.91 530 98.51 512.63 108.72 502.97 77.59 504.67 65.66 489.31 70.78 479.33 80.76 446.71 93 424.24 91.04 411.2 110.1 385.77 106.03 363.88 117.97 354 117.97 354 125.24 346.57 130.55 341.89 137.11 340.89 141.1 334.12 150.77 336 158.47 336 168.17 325.38 166.84 321.15 154.16 317.43 148.96 314.53 152.59 311.33 154.72 304.4 159.92 307.42 165.96 296.88 173.34 295.91 179.12 290.81 185.24 284.49 202.11 276.15 201.06 266.95 212.56 266.11 210.04 265.31 211.38 268.08 215.08 267.27 219.97 272.74 219.97 293.63 226.93 305.56 225.1 321.89 196.52 343.89 206.99 359.18 208.01 378.46 228.26 385.52 220.31 398.63 212.24 419.51 195.34 444.39 171.46 452.12 161.79 454.22 153.41 463.49 149.19 452.94 141.81 460.63 139.89 467.74 142.94 477.7 142.04 481.46 137.02 485.87 142.53 491.95 139.06 506.29 135.75 515.12 152.43" ><title>{{ Mirzo.district}}:{{ Mirzo.quantity }}</title></polygon>
                </g>
            </g>
        </svg>
    </div>

</div>
{%endblock%}