{% extends "base.html" %}

{% block content %}{% load messages %}
<div id="page-wrapper">
    <div class="row">
       <div class="col-lg-12">
          <div class="page-header page-header__userlist">
              <h1>Пользователи</h1>
{#              <div class="searchbar">#}
{#                <form action="#" method="get">#}
{#                      <input type="text" id="searchbar-input" placeholder="fdlk" name="query">#}
{#                      <i class="fa fa-search" id="searchbar-icon" aria-hidden="true"></i>#}
{#                      <i class="fa fa-times" id="searchbar-cross" aria-hidden="true"></i>#}
{#                </form>#}
{#              </div>#}
          </div>
      </div>

      <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">

    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">
              
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                          <table id="second-morris-table" class="table table-bordered table-hover table-striped">
                                <thead>
                                      <tr>
                                        <th>Номер телефона</th>
                                          <th>Количество рассматриваемых обращений</th>
                                          <th>Количество разрешенных обращений</th>
                                      </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    {% if user.profile %}
                                        <tr>
                                            <td><a href="{% url 'user_messages' user.id %}">{{ user.username }}</a></td>
                                            <td><a href="{% url 'user_messages' user.id %}">{{ user|in_category }}</a></td>
                                        <td><a href="{% url 'user_messages' user.id %}">{{ user|in_category1 }}</a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                          </table>
                        </div>

                    <!-- /.table-responsive -->
                    </div>
                <!-- /.col-lg-12 -->
                </div>
                
                <!-- /.row -->

              
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            
        </div>
      <!-- /.col-lg-12 -->
      
    </div>
    <!-- /.row -->

</div>

 -->
{%endblock%}
