{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
            <h2> {{ user.username }}</h2>
        <br>
        <br>
        <br>
            <ul class="list-group list-group-flush">
                {% for message in messages %}
                    <li class="list-group-item"><a href="{% url 'message_detail' user.id message.id %}"> {{ message.title }}</a></li>
                {% endfor %}
            </ul>
    </div>
</div>
{% endblock %}